html {style="font-size: 20px;"}

header {
  
    font-family: "Josefin Sans", sans-serif; 
    text-shadow: 2px 2px 5px #fadbaf;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(155, 115, 114);
    
  }


span {
  color: Skyblue;
}
span2 {
  color: rgb(255, 192, 203);
}
      
h2{
  color: Skyblue;
}
div p {
  font-weight: bold;
  }


body {  font size = 20px  
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
  color: ;
}


     